/* font */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600&display=swap');
/* font */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Public Sans', sans-serif;
}

:root{
    --primary-color-one: hsl(233, 26%, 24%);
    --primary-color-two: hsl(136, 65%, 51%);
    --primary-color-three: hsl(192, 70%, 51%);

    --neutral-color-one: hsl(233, 8%, 62%);
    --neutral-color-two:  hsl(220, 16%, 96%);
    --neutral-color-three:  hsl(0, 0%, 98%);
    --neutral-color-four: hsl(0, 0%, 100%);
}

body{
    overflow-x: hidden;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.hidden{
    display: none;
}

/* navigation-bar */
    .navigation-bar{
        padding: 0.8em 8.5em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        z-index: 1;
        background-color: var(--neutral-color-four);
    }

    .nav-item-center ul{
        display: flex;
        align-items: center;
        gap: 2.8em;
    }

    .nav-item-center ul li{
        font-size: 1.1em;
        position: relative;
    } 

    .nav-item-center ul li:hover span{
        display: inline-block;
    }

    .nav-item-center ul li span{
        display: none;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: -27px;
        width: 100%;
        background-color: hsl(136, 65%, 51%);
        border-radius: 50px;
    }

    .nav-item-center ul li a{
        color: rgb(205, 204, 204);
    }

    .nav-item-center ul li a:hover{
        color: var(--primary-color-one);
    }

    .nav-item-right{
        display: flex;
        align-items: center;
        gap: 2em;
    }

    .nav-item-right button{
        padding: 0.8em 2.3em;
        border-radius: 50px;
        font-size: 1.1em;
        background: linear-gradient(135deg, hsl(136, 65%, 51%) -6%, hsl(192, 70%, 51%) 100%);
        border: none;
        transition: all .3s ease;
    }

    .nav-item-right button a{
        color: var(--neutral-color-four);
    }

    .nav-item-right button:hover{
        transform: scale(1.1);
    }

    .hamburger{
        display: none;
        cursor: pointer;
        padding-top: 5px;
    }
    .bar{
        display: block;
        width: 25px;
        height: 1px;
        margin: 7px auto;
        border-radius: 200px;
        position: relative;
        /* top: 2px; */
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: rgb(0, 0, 0);
        border-radius: 50px;
    }
/* navigation-bar End*/


/* page-one-container */
    .page-one-container{
        padding-top: 8.5em;
        padding-bottom: 3em;
        padding-left: 8.5em;
    }

    .page-one-container .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
        position: relative;
    }

    .page-one-container .grid-item:first-child{
        display: flex;
        align-items: center;
        justify-content: start;
        position: relative;
    }

    .page-one-container .grid-item:first-child span{
        display: block;
    }

    .page-one-container .grid-item:first-child h1{
        font-size: 3em;
        font-weight: 100;
        color: var(--primary-color-one);
        letter-spacing: 5px;
    }

    .page-one-container .grid-item:first-child p{
        font-size: 1.1em;
        font-weight: 100;
        color: var(--neutral-color-one);
        line-height: 30px;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    .page-one-container .grid-item button{
        padding: 0.8em 2.3em;
        border-radius: 50px;
        font-size: 1.1em;
        background: linear-gradient(135deg, hsl(136, 65%, 51%) -6%, hsl(192, 70%, 51%) 100%);
        border: none;
        transition: all .3s ease;
    }

    .page-one-container .grid-item button a{
        color: var(--neutral-color-four);
    }

    .page-one-container .grid-item button:hover{
        transform: scale(1.1);
    }

    .page-one-container .grid-item:last-child{
        position: relative;
    } 

    .page-one-container .grid-item:last-child span{
        display: inline-block;
        height: 500px;
    }

    .bg-pattern{
        position: absolute;
        top: -280px;
        left: -150px; 
        max-width: 1000px;
        height: 900px;
    }

    .bg-pattern-two{
        position: absolute;
        right: -500px;
        top: -220px;
        left: -20px;
    }

    .bg-pattern-three{
        position: absolute;
        width: 100%;
        display: none;
    }
/* page-one-container End*/


/* page-two-container */
    .page-two-container{
        padding: 6em 8.5em;
        background-color: var(--neutral-color-two);
    }

    .page-two-container span{
        display: block;
    }

    .page-two-container .header{
        padding-top: 1.5em;
        padding-bottom: 1.8em;
    }

    .page-two-container .header h2{
        font-size: 2.5em;
        font-weight: 100;
        color: var(--primary-color-one);
    }

    .page-two-container .header p{
        color: var(--neutral-color-one);
        font-size: 1.1em;
        line-height: 25px;
        padding-top: 1.2em;
        padding-bottom: 2.5em;
    }

    .page-two-container .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 1em;
    }

    .page-two-container .grid-item:first-child, .grid-item:last-child{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 1em;
    }

    .page-two-container .sub-grid-item img{
        padding-bottom: 2em;
    }
    
    .page-two-container .sub-grid-item h3{
        font-weight: 100;
        color: var(--primary-color-one);
        padding-bottom: 1.2em;
        font-size: 1.3em;
    }

    .page-two-container .sub-grid-item p{
        font-size: 1.1em;
        color: var(--neutral-color-one);
        line-height: 25px;
    }
/* page-two-container End */


/* page-three-container */
    .page-three-container{
        padding: 6em 8.5em;
        background-color: var(--neutral-color-three);
    }

    .page-three-container .header{
        padding-bottom: 2.8em;
    }

    .page-three-container .header h2{
        font-size: 2em;
        font-weight: 100;
        color: var(--primary-color-one);
    }
    
    .page-three-container .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        grid-auto-rows: minmax(100px, auto);
    }

    .page-three-container .grid-item:first-child, .grid-item:last-child{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
    }

    .page-three-container .desc{
        padding: 1em;
    }

    .page-three-container .desc p:first-child{
        padding-bottom: 0.8em;
        color: var(--neutral-color-one);
    }

    .page-three-container .desc p:last-child{
        padding-top: 0.8em;
        font-size: 1.1em;
        color: var(--neutral-color-one);
    }

    .page-three-container .sub-grid-item{
        transition: all .3s ease;
        border-radius: 5px;
        box-shadow: 10px 5px 10px hsl(0, 0%, 71%);
    }

    .page-three-container .sub-grid-item:hover{
        transform: scale(1.1);
        box-shadow: none;
        z-index: 1;
    }

    .page-three-container .desc h3{
        font-weight: 100;
        font-size: 1.4em;
        color: var(--primary-color-one);
    }
/* page-three-container End */

/* footer */
footer{
    padding: 3em 8.5em;
    background-color: var(--primary-color-one);
}

footer .sub-grid-item{
    grid-gap: 1em;
}

footer .grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

footer .grid-item:first-child{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6em;
}

footer .grid-item:first-child .sub-grid-item{
    position: relative;
}

footer .grid-item:first-child .sub-grid-item ul li{
    padding: 0.5em 0;
}

footer .grid-item:first-child .sub-grid-item ul li a{
    color: var(--neutral-color-four);
}

footer .social-media-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer .grid-item:last-child{
    position: relative;
}

footer .grid-item:last-child .button-container{
    position: absolute;
    top: 0;
    right: 0;
}

footer button{
    padding: 0.8em 2.3em;
    border-radius: 50px;
    font-size: 1.1em;
    background: linear-gradient(135deg, hsl(136, 65%, 51%) -6%, hsl(192, 70%, 51%) 100%);
    border: none;
    transition: all .3s ease;
}

footer button a{
    color: var(--neutral-color-four);
}

footer button:hover{
    transform: scale(1.1);
}

/* footer End*/

@media(max-width: 1168px){
    .navigation-bar{
        padding-left: 3em;
        padding-right: 3em;
    }

    .page-one-container{
        padding-left: 3em;
        padding-right: 3em;
    }

    .page-three-container, .page-two-container{
        padding-left: 3em;
        padding-right: 3em;
    }

    .page-two-container .grid-container{
        display: block;
    }

    .page-three-container .grid-container{
        display: block;
    }

    .page-two-container .grid-item{
        margin-bottom: 1em;
    }

    .page-three-container .grid-item{
        margin-bottom: 1em;
    }

    footer{
        padding-left: 3em;
        padding-right: 3em;
    }

    footer .grid-container{
        display: block;
    }

    footer .grid-item{
        margin-bottom: 2em;
    }

    footer .grid-item:last-child{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    footer .grid-item:last-child .button-container{
        width: 100%;
        text-align: center;
    }

    .page-one-container .grid-item:first-child{
        position: relative;
    }

    .bg-pattern-two{
        min-width: 500px;
    }

}

@media(max-width: 1080px){

    .bg-pattern{
        position: absolute;
        top: -280px;
        left: -105px; 
        max-width: 900px;
    }

    .bg-pattern-two{
        position: absolute;
        right: -230px;
        top: -200px;
        left: -20px;
        height: 850px;
    }

}

@media(max-width: 1020px){

    .bg-pattern{
        top: -280px;
        left: -50px; 
        max-width: 800px;
    }

    .bg-pattern-two{
        top: -180px;
        height: 800px;
        right: -900px;
        left: 50px;
    }

    .page-one-container .grid-item:first-child h1{
        font-size: 2.2em;
    }

    .page-one-container .grid-item:first-child p{
        font-size: 1em;
    }
}

@media(max-width: 862px){
    .nav-item-right button{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .logo{
        position: absolute;
    }

    .navigation-bar  .nav-item-center{
        position: relative;
        z-index: 1;
        width: 100%;
    }

    .navigation-bar  .nav-item-center ul{
        position: absolute;
        z-index: 1;
        left: -120%;
        top: 60px;
        gap: 1.8em;
        border-radius: 10px;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        width: 107%;
        text-align: center;
        transition: 0.3s;
        padding:3em 0;
    }

    .navigation-bar  .nav-item-center ul li{
        flex-direction: column;
    }


    .nav-item-center.active{
        left: 0;
    }

    .bg-pattern{
        top: -280px;
        left: -50px; 
        max-width: 800px;
    }

    .bg-pattern-two{
        top: -180px;
        height: 800px;
        right: -900px;
        left: 50px;
    }
}

@media(max-width: 800px){
    .hidden{
        display: block;
    }

    .bg-pattern{
        display: none;
    }

    .bg-pattern-two{
        max-width: 500px;
        height: 600px;
        top: -120px;
        left: -180px;
    }

    .visible{
        display: none;
    }

    .page-one-container .grid-item:last-child{
        display: flex;
        align-items: center;
        justify-content: start;
        position: relative;
    }

    .page-one-container .grid-item:last-child span{
        display: block;
    }

    .page-one-container .grid-item:last-child h1{
        font-size: 2.2em;
        font-weight: 100;
        color: var(--primary-color-one);
        letter-spacing: 5px;
    }

    .page-one-container .grid-item:last-child p{
        font-size: 1em;
        font-weight: 100;
        color: var(--neutral-color-one);
        line-height: 30px;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    .page-one-container .grid-item:last-child span{
        display: none;
    }

    .page-one-container .grid-item:first-child{
        margin-bottom: 2em;
    }

    .page-one-container .grid-item:first-child span{
        display: inline-block;
        height: 500px;
    }
}

@media(max-width: 738px){
    .grid-item-content{
        width: 100%;
        text-align: center;
    }

    .bg-pattern-two{
        left: 14%;
        top: -170px;
        transform: translate(-10%, -10%);
    }

    .page-one-container .grid-container{
        display: block;
    }

    .page-one-container .grid-item:first-child span{
        height: 400px;
    }
}

@media(max-width: 600px){
    .navigation-bar, .page-one-container, .page-three-container, .page-two-container, footer{
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .page-two-container .grid-item:first-child, .grid-item:last-child{
        display: block;
    }

    .page-three-container .grid-item:first-child, .grid-item:last-child{
        display: block;
    }

    .page-two-container .sub-grid-item{
        margin-bottom: 1.5em;
    }

    .page-three-container .sub-grid-item{
        margin-bottom: 1.5em;
    }

    .page-two-container .header{
        text-align: center;
    }
    .page-two-container 
    h3, p{
        text-align: center;
    }

    .page-two-container img{
        display: flex;
        justify-content: center;
        text-align: center;
        margin: auto;
    }

    footer .grid-item:first-child{
        display: block;
    }

    footer .grid-item:first-child .sub-grid-item:first-child{
        margin-bottom: 2em;
    }

    footer .grid-item:first-child ul li{
        text-align: center;
    }

    footer .header{
        text-align: center;
    }

    footer .social-media-container{
        display: flex;
        align-items: center;
        gap: 1em;
        justify-content: center;
        width: 100%;
        position: relative;
        margin-top: 2.5em;
    }
}

@media(max-width: 500px){
    .bg-pattern-two{
        left: 2%;
        max-height: 600px;
        max-width: 300px;
    }

    .bg-pattern-three{
        display: block;
        position: absolute;
        top: -70px;
        right: -70px;
        left: -30;
        width: 600px;
        height: 600px;
     }
}
